@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--red {
    color: #dc2626;
}

.section__title {
    font-size: 32px;
    margin-bottom: 56px;
}

a {
    text-decoration: none;
}


/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor { 
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #dc2626;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #b91c1c;
}

.personal__logo {
    font-size: 24px;
    color: #dc2626;
    margin: 0 12px;
    font: bold;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.container {
    padding: 50px 0px;
}

/* ABOUT ME */

.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.about-me__bio {
    text-align: center;
    width: 75%;
    font-size: 20px;
}

.about-me__info--title {
    font-size: 32px;
    margin-bottom: 24px;
}

.about-me__info { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me__links { 
    width: 100%;
    max-width: 240px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16px;
}

.about-me__link {
    width: 30px;
    height: 30px;
    color: #dc2626;
    font-size: 24px;
}

.about-me__image--container {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 100px;
    width: 50%;
}

.about-me__img {
    width: 100%;
}

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* TECH STACK  */
.tech-stack-icon {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

.language:hover .tech-stack-icon {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language:hover .language__name {
    transform: scale(1);
}

.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 20px;
}

.language__image--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__list {
    display: flex;
    flex-wrap: wrap;
}

/* MY PROJECTS */

.project__img {
    width: 100%;
    transition: 450ms ease;
}

.project__wrapper {
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: 450ms ease;
    z-index: 2;
}

.project:hover .project__wrapper:before {
    opacity: 0.7;
}

.project:hover .project__img {
    transform: scale(1.2);
    filter: blur(5px);
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    max-width: 550px;
    transform: translateY(100%);
    z-index: 3;
    opacity: 0;
    transition: 300ms ease;
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__description--title {
    font-size: 40px;
} 

.project__description--para {
    margin: 16px 0px;
}

.project__description--link {
    font-size: 20px;
    margin-right: 16px;
}

.project__description--title, 
.project__description--sub-title,
.project__description--para,
.project__description--link
{
    text-align: left;
    color: #fff;
}


/* FOOTER */

footer {
    background-color: #242424;
}

.footer__row {
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo--img {
    width: 70px;
    height: 70px;
    color: #fff;
}

.footer__social--link,
.footer__copyright {
    color: #fff;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

.social__footer--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 44px 44px;
}